.menu {
    padding: 20px 0;
    background-color: #c2b6ab;
    &__blocks {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
    }
    &__link {
        color: #282828;
        font-size: 15px;
        font-family: 'LighthausRegular';
        cursor: pointer;

    }
    a {
        text-decoration: none;
        background-color: transparent;
    }
}