.promo {
    background-color: #f0f0f0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        width: 220px;
        padding: 10px 0;
        img {
            width: 100%;
        }
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__phone {
        display: block;
        color: #2b2b2b;
        font-size: 20px;
        font-family: 'LighthausRegular';
    }
    a {
        text-decoration: none;
    }
    &__button {
        background-color: #c2b6ab;
        border: none;
        color: #2b2b2b;
        font-family: 'LighthausRegular';
        text-transform: uppercase;
        border-radius: 5px;
        width: 160px;
        height: 35px;
        font-size: 13px;
        margin: 5px 0;
        cursor: pointer;
    }
}