.sale {
    background-color: #7d7d7b;
    &__titleHidden {
        color: #f0f0f0;
        font-size: 30px;
        font-family: 'LighthausRegular';
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        padding-top: 80px;
        animation-duration: 3s;
    }
    
}