.showroom {
    padding-bottom: 100px;
    background-color: #7d7d7b;
    .divider {
        width: 90px;
        height: 1px;
        margin: 25px auto 0 auto;
        background-color: #f0f0f0;
    }
    &__titleHidden {
        color: #f0f0f0;
        font-size: 30px;
        font-family: 'LighthausRegular';
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        padding-top: 80px;
    }
    &__video {
        display: block;
        margin: 40px auto 0 auto;
        text-align: center;
        iframe {
            width: 960px;
            height: 515px;
        }
    }
}